* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navigation {
    background-color: red;
    height: 100px;  /* PROVVISORIO */
    width: 100%;
}

.full{
    border: 2px solid black;
    width: 90%;
    height: 100%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    position: relative;
}

.master {
    width: 80%;
    height: 100%;
    border: 2px solid black;
    margin: auto;
}

/* ----------------INIZIO JUMBOTRON--------------------*/
.jumbotron { /* BISOGNA SPOSTARE L'IMMAGINE RISPETTO AL CONTAINER */
    background-color: orange;
    height: 800px;  /* PROVVISORIO */
    width: 100%;
}

#title { /* DA CAMBIARE IL H1 */
    width: 100%;
    height: 200px;
    border: 1px solid black;
    margin: 50px 0px; /* MOLTO PROBABILMENTE DA CAMBIARE IN PADDING  */
}

#title-text { /* DA CAMBIARE IN PARAGRAFO */
    width: 30%;
    height: 20%;
    border: 1px solid black;
}

#jumbotron-img { /* DA CAMBIARE IN IMG */
    width: 60%;
    height: 500px;
    border: 1px solid black;    /* DIMENSIONI PROVVISORIE */
    position: absolute;
    right: 0;
    bottom: 0;
}
/* ----------------FINE JUMBOTRON--------------------*/

/* --------------INIZIO SEZIONE PIANI----------------*/

.plan-container {
    background-color: yellow;
    height: 900px; /* PROVVISORIO */
}
 
.top-section {
    border: 1px solid black;
    width: 100%;
    height: 150px; /* PROVVISORIO */
    margin: 20px 0px;
}

.item {
    border: 1px solid black;
    width: 30%; /* PROVVISORIO */
    height: 500px; /* PROVVISORIO */
    float: left;
    margin: 16px; /* PROVVISORIO */
}

#plan {
    position: relative;
}

.bottom-section {
    border: 1px solid black;
    width: 100%;
    height: 150px; /* PROVVISORIO */
    position: absolute;
    bottom: 20px;
}

.plan-row::after {
    content: "";
    display: table;
    clear: both;
}
/* --------------FINE SEZIONE PIANI----------------*/

/* ------------INIZIO SEZIONE PARTNER--------------*/
.partner-container {
    background-color: lightgreen;
    height: 600px;   /* PROVVISORIO */
    padding: 50px 0px;
}

#partner {
    position: relative;
}

#partner-img{
    width: 50%;
    height: 100%;
    border: 1px solid black;
}

.partner-text {
    border: 1px solid black;
    margin-top: 30px;   /* DA CAMBIARE CON PADDING */
    margin-left: 30px;  /* DA CAMBIARE CON PADDING */
    width: 47%; /* DA CAMBIARE CON 50% */
    height: 60%;
    position: absolute;
    top: 0px;
    right: 0px;
}
/* ------------FINE SEZIONE PARTNER--------------*/

/* ----------INIZIO SEZIONE OPERAZIONI---------- */
.operations-container {
    background-color: lightskyblue;
    height: 900px; /* PROVVISORIO */
    padding: 50px 0px;
}

.operations-container::after {
    content: "";
    display: table;
    clear: both;
}

.operations-title {
    border: 1px solid black;
    width: 100%;
    height: 80px;
}

.operations-row {
    border: 1px solid black;
    margin: 40px 0px; /* DA CAMBIARE CON PADDING E DA CAMBIARE LA DIMENSIONE*/
    width: 100%;
    height: 40%;
}

.operation {
    border: 1px solid black;
    width: 30%;
    height: 100%;
    float: left;
    margin: 0px 16px;
}

.operation-img {
    border: 1px dotted black;
    width: 100%;
    height: 40%;
}
/* ----------FINE SEZIONE OPERAZIONI---------- */

/* ------------INIZIO SEZIONE TEAM---------- */
.team-container {
    background-color: blue;
    height: 80vh;  /* PROVVISORIO */
    width: 100%
}

#up-container {
    border: 1px solid black;
    height: 10vw;
}
.middle-container {
    border: 1px solid black;
    height: 60vw;
    width: 100%;
}

.middle-container::after {
    content: "";
    display: table;
    clear: both;
}
.side {
    border: 1px dotted black;
    width: 30%;
    height: calc(100%-30vw);
    float: left;
}
.team-item {
    border: 2px solid black;
    float: left;
    height: 15vw;
    width: 50%;
    text-align: center;
    line-height: 15vw;
}

.center {
    border: 1px dotted black;
    width: 40%;
    height: 30vw;
    float: left; 
}

#down-container { /* VA POSIZIONATO IN BASSO */
    border: 1px dotted black;
    height: 30vw;
}
/* -------------FINE SEZIONE TEAM----------- */


.faq-container {
    background-color: purple;
    height: 40vw;   /* PROVVISORIO */
}

/* #faq { DA CAMBIARE CON PADDING
    margin: 50px auto;
} */

.faq-title {
    border: 1px solid black;
    width: 100%;
    height: 5vw;
    margin: 50px 0px; /* DA CAMBIARE CON PADDING */
}

.faq-row {
    border: 1px dotted black;
    width: 100%;
    margin: 20px 0px; /* DA CAMBIARE CON PADDING */
}
.group-list {
    background-color: pink;
    height: 600px;   /* PROVVISORIO */
    width: 100%;
}